* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

.primary-btn {
    border: 2px solid #E55473;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: #E55473;
    transition: 0.5s ease;
}

.primary-btn:hover{
    color: #000;
    background-color: transparent;
}

.banner-section {
    background-color: #FCEEF1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-section div{
    width: 50%;
}

.banner-heading {
    margin-left: 40px;
    padding: 130px;
    width: 40%;
}

#heading {
    font-size: 40px;
    font-family: sans-serif;
}

#content {
    font-family: sans-serif;
    color: gray;
    font-size: 14px;
}
